<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <link type="text/css" rel="stylesheet" href="static/css/lib/jquery.toastmessage.css">
    <link type="text/css" rel="stylesheet" href="static/css/lib/jquery.dataTables.css">
    <link href="static/css/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="static/css/src/main.css">
    <script type="text/javascript" src="static/js/lib/jquery-2.0.3.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/lib/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="static/js/lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="static/js/src/config.js"></script>
    <script type="text/javascript" src="static/js/src/Functions.js"></script>
    <script type="text/javascript" src="static/js/src/postMgr.js"></script>
</head>
<body>

{% include 'header.html' %}

<div class="container-fluid">
    <div class="row">

        {% include 'menu.html' %}

        <div class="col-md-10 opt-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">资料管理</h1>
                </div>
                <div class="panel-body" id="opt-body">
                    <div class="input-group tableSearchContainer col-md-6">
                        <input type="text" id="name" class="form-control" placeholder="名称">
                        <span class="input-group-btn">
                            <button id="searchBtn" class="btn btn-default" type="button">搜索</button>
                        </span>
                    </div>
                    <a class="btn btn-success" href="artifacts/create">上传资料</a>
                    <table id="myTable" class="dataTable">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>分类</th>
                            <th>材料</th>
                            <th>标签</th>
                            <th>上传者</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td>dddddddd</td>
                            <td><a href="#" class="check">修改</a>&nbsp;<a href="#" class="check">删除</a></td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'loading.html' %}

</body>
</html>